@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
nav > ul{
    display: flex;
    list-style: none;
}
nav li{
    margin: 30px;
}
nav a{
    text-decoration: none;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-primary{
    color: var(--Dark-01, #131313);
    font-size: 64px;
}
.banner-description{
    color: var(--Dark-03, #727272);
    font-size: 16px;
}
.btn-primary{
    
}